<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="dev.ococa.api.infrastructure.repository.FriendMapper">
    <select id="getFriendsById" resultType="dev.ococa.api.domain.model.FriendEntity">
        SELECT * FROM friends where user_id1 = #{id}
    </select>
</mapper>